<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WebApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/solid.css" integrity="sha384-29Ax2Ao1SMo9Pz5CxU1KMYy+aRLHmOu6hJKgWiViCYpz3f9egAJNwjnKGgr+BXDN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/fontawesome.css" integrity="sha384-Lyz+8VfV0lv38W729WFAmn77iH5OSroyONnUva4+gYaQTic3iI2fnUKtDSpbVf0J" crossorigin="anonymous">
    <environment exclude="Development">
        <link href="~/assets/common.bundle.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <main id="main-app">
        <environment include="Development">
            <h4>[Admin]Use `npm run dev` command</h4>
        </environment>
        <environment exclude="Development">
            Loading...
        </environment>
    </main>
    @Html.AntiForgeryToken()
    @RenderBody()
    @RenderSection("DataScripts", required: false)
    <script src="~/assets/common.bundle.js" asp-append-version="true"></script>
    <script src="~/assets/admin.bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
